{% extends 'base.html.twig' %}

{% block title %}[ask solutions]{% endblock %}
{% block page_title %}
    {% if is_granted('ROLE_USER') %}
        Ask Solutions for this Error
    {% else %}
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">Login with Google</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <form action="{{ path('homepage') }}" method="POST">
                <div class="mdl-textfield mdl-js-textfield">
                    <select class="mdl-textfield__input" id="app" name="app">
                        <option></option>
                        {% for application in applications %}
                            <option value="{{ application.getApplicationId }}">{{ application.getName }}</option>
                        {% endfor %}
                    </select>
                    <label class="mdl-textfield__label" for="app">Choose Application</label>
                </div>
                &nbsp;&nbsp;
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="error" name="error">
                    <label class="mdl-textfield__label" for="error">Input Error encountered here...</label>
                </div>
                &nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Find Now
                </button>
            </form>
            {%  if errors %}
            <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h4>Errors Found:</h4>
                <ul>
                    {% for error in errors %}
                        <li>
                            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                <input type="checkbox" id="chkbox1" class="mdl-checkbox__input" checked="checked" name="chkbox1">
                                <span class="mdl-checkbox__label">{{ error }}</span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                {% if solutions %}
                <h4>Found Solutions:</h4>
                <ul>
                    {% for solution in solutions %}
                        <li>
                            <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                <input type="checkbox" id="chkbox1" class="mdl-checkbox__input" checked="checked" name="chkbox1">
                                <span class="mdl-checkbox__label">{{ solution }}</span>
                            </label>
                        </li>
                    {% endfor %}
                  {% for email in emails %}
                    <li>
                        <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" id="chkbox4" class="mdl-checkbox__input" name="chkbox4" checked="checked">
                            <span class="mdl-checkbox__label">[ {{ email }} ] Error notification sent</span>
                        </label>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            {% endif %}
    </div>
{% endblock %}
